.header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.plusik:hover {
	animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.plusBut {
	background-color: transparent;
	color: #ffff;
	border: 2px solid white;
	border-radius: 73px;
	align-items: center;
}
.menu {
	background-color: white;
	font-size: 15px;
	border: none;
}
.menu:hover {
	background-color: #dddddd;
}
.dops {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}
.greeting {
	margin: 0;
	width: min-content;
}
